body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background-image: url("/img/bg5.png");*/
}

.top-title {
    font-size: 25px;
    font-stretch: condensed;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 30px;
}
